*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.top{
    width: 100%;
    background: url(images/backgrounds/landing.jpg) no-repeat;
    height: 100vh;
    background-position: center;
}
.bar-1{
    padding: 80px 70px;
}

.bar{
    width: 150px;
    height: 5px;
    color: white ;
}

.menu{
    justify-content: center;
    align-items: center;
}

.menu img{
    width: 200px;
    display: flex;
    margin: auto;
}
.menu h3{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.menu h3{
    color: rgb(255, 255, 255);
    font-size: 20px;
}

#right{
    font-size: 800;
    color: white;
}

.happy-time{
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;  
    margin-bottom: 50px;  
}

.happy-hour{
    display: inline-block;
    width: 220px;
    height: 100px;
    background-color: grey;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.happy-hour p{
    font-size: 18px;
}
  
.party-time{
    position: absolute;
    margin-top: 100px;
    display: inline-flex;
    width: 220px;
    height: 100px;
    background-color: #F15A29;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.party-time p{
    font-size: 18px;
    color: white;
}
.breakfast p,.lunch p,.dinner p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.lunch{
    opacity: 50%;
}

.breakfast,.lunch,.dinner {
    position: relative;
    display: flex;
}

.breakfast p,.lunch p,.dinner p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-style: italic;
}
.semi-top{
    margin-top: 50px;
}
.fast-food{
    border: 15px solid white;
    display: inline-block;
    margin-left: 150px;
    box-shadow: 0px 0px 4px  rgba(0, 0, 0, 0.2); 
}

.fast-food img{
    display: block;
    margin: 0;
    width: 350px;   
}
.fastfood-content{
    float: right;
    width: 40%;
    margin-right: 150px;
    line-height: 1.8em;
    padding-top: 25px;
    padding: 20px 0;
}

.arrow-button {
    margin-top: 10px;
    position: relative;
    padding: 5px 30px;
    color: #F15A29;
    background-color: white;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    overflow: hidden;
    border: 1px #F15A29 solid;
}
.arrow-button::after {
    content: '→'; 
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 20px;
}
.button-content {
    margin-right: 15px; 
}

.middle{
    margin: 100px 150px;
}

.drinks-content{
    display: block;
    float: left;
    width: 40%;
    line-height: 1.8em;
    padding-top: 25px;
    padding: 20px 0;
    text-align: right;
    margin-right: 40px;
}
.drinks{
    margin-left: 100px;
    border: 15px solid white;
    display: flex;
    box-shadow: 0px 0px 4px  rgba(0, 0, 0, 0.2); 
}

.drinks img{
    display: block;
    margin: 0;
    width: 240px; 
}

#mix{
    background: url(images/backgrounds/foodsBg.jpg) no-repeat;
    height: 70vh;
}

.inner-mix{
    position: relative;
    transform: translate(25%, 50%);
    top: -100px;
    width: 800px;
    height: 300px;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}
.inner-mix-title{
    display: flex;
}
.inner-mix-title h5{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 50px;
    font-size: 18px;
    border:  0.5px solid;
    background-color: grey;
}

.inner-mix-image{
    display: flex;
    margin: 20px 0;
}

.inner-mix-image img{
    margin-left: 30px;
    width: 220px;
}
.direction1{
    margin: 100px 10px;
    position: absolute;
    color: #F15A29;
    font-weight: 900;
    cursor: pointer;
}

.direction1::after{
    content: '<'; 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;    
}

.direction2{
    margin: 80px 10px;
    color: #F15A29;
    font-weight: 900;
    cursor: pointer;
}

.direction2::after{
    content: '>'; 
    top: 20%;
    left: -100%;
    transform: translateY(20%, 20%);
    font-size: 20px;    
}

#fast{
    color: #F15A29;
    background-color: white;
    border: none;
}

.image p{
    text-align: center;
    font-size: 18px;
    color: #F15A29;
}

#customer{
   border: 2px solid white;
   box-shadow: 0px 0px 4px  rgba(0, 0, 0, 0.2);
   width: 800px;
   height: 200px;
   margin:50px 200px;
   align-items: center;
   justify-content: center;
}

.happy-customer{
    border-right: 1.5px solid  rgb(240, 240, 240);
    padding-right: 10px;
    justify-content: center;
    align-items: center;
    width: 53%;
    float: left;
}

.happy-customer h3{
    margin: 10px 10px;
    text-align: center;
    color: #F15A29;
}
.happy-customer h5,p{
    text-align: center;
}

.pics{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.pics img{
    margin-left: 10px;
}

.direction3{
    margin:50px 90px;
    position: absolute;
    color: #F15A29;
    font-weight: 900;
    cursor: pointer;
}

.direction3::after{
    content: '<'; 
    position: absolute;
    transform: translateY(-50%);
    font-size: 20px;    
}

.direction4{
    margin: 0px 10px;
    color: #F15A29;
    font-weight: 900;
    cursor: pointer;
}

.direction4::after{
    content: '>'; 
    top: 20%;
    left: -100%;
    transform: translateY(20%, 20%);
    font-size: 20px;
}
.about{
    display: inline;
}
.about h3{
    margin: 10px 10px;
    text-align: center;
    color: #F15A29;
}
.about p{
    text-align: center;
    line-height: 1.2em;
}

.subscribe{
    margin: 20px 0 0;
    background: url(images/backgrounds/subscribe.jpg);
    height: 50vh;
}

.subscribe h3{
    padding-top: 50px;
    color: white;
    text-align: center;
}

.email{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    padding: 8px 10px;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.243);
    border-radius: 3px;
}
::placeholder{
    color: white;
}
#sub{
    width: 120px;
    height: 30px;
    margin-left: 10px;
    outline: none;
    border: none;
    background-color: #F15A29;
    color: white;
}
.We-are{
    background-color: #F15A29;
}

.logo{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
.logo h1{
    margin-left:10px ;
}

.We-are p{
    color: white;
    font-size: 18px;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.social img{
    margin-left: 20px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}
footer h5{
    font-size: 15px;
    color: white;
}